{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles from article s table : </h1>
    <div>
        {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit" name="btnSearch">Save</button>
        {{ form_end(form) }}
    </div>

    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
            <a href={{ path('blog_show', { 'slug' : (article.title | lower | replace({' ': "-"})) }) }}>
                Voir Article
            </a>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}