{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>All articles from article s table : </h1>
            <div>
                {{ form_start(form) }}
                {{ form_row(form) }}
                <button type="submit" name="btnSearch">Save</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row justify-content-center">
                {% for article in articles %}
                <div class="col-4">
                    <h2>{{ article.id }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
                    <p>{{ article.content }}</p>
                    <a href={{ path('blog_show', {'id' : article.id, 'slug': article.slug | lower}) }}>
                        Voir Article
                    </a>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('homepage') }}">
            Back to homepage.
        </a>
    </div>
{% endblock %}