{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>Real article s title : {{ article.title }}</h1>
        <h2>Category : {{ article.category.name }}</h2>
        <p>{{ article.content }}</p>
    </div>

    <strong>Tags :</strong>
    <ul>
        {% for tag in tags %}
            <li><a href={{ path('blog_tag', { 'tagName' : (tag.name | lower | replace({' ': "-"}) ) }) }}>
                    {{ tag.name }}</a></li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>

    <a href="{{ path('blog_index') }}">
        Back to Blog.
    </a>

{% endblock %}