{% extends 'base.html.twig' %}

{% block title %}All Tag{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h1>All {{ tag.name}} </h1>
    {% for article in articles %}
        <div>
            <h1>{{ tag.name }}</h1>
            <h5>Real article s title : <a href={{ path('blog_show', { 'slug' : (article.title | lower | replace({' ': "-"})) }) }}>
                    {{ article.title }}</a></h5>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}